@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
hr{
    color: gray;
}
.container{
    background-color: #e4f1f5;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
}
.fuente{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.fuente-h1{
    font-weight: 300;
}
.fuente-boton{
    font-weight: 700;
}
.displayflex{
    display: flex;
}
.displayflexcolumn{
    display: flex;
    flex-direction: column;
}
.spacebetween{
    justify-content: space-between;
}
.margin-izq{
    margin-left: 10px;
}
.margin-der{
    margin-right: 10px;
}
.margin-top{
    margin-top: 20px;
}
.boton{
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s
}
.boton:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s
}
.card{
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    width: 265px;
    height: 170px;
    margin-bottom: 10px;
}
.card4{
    height: 360px;
}
.sec-center{
    display: flex;
    justify-content: center;
}
.segunda-col{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;

}
.box-head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;

}
img{
    padding: 5px;
    max-height: 50px;
}
.logo1 img{
    max-height:50 px;
    width: 50px;
    padding: 5px;
    margin-top: 9px;
}
.logo2 img{
    width: 139px;
    height:35 px;
    padding: 5px;
    margin-top: 17px;
}
.logo3 img{
    width: 52px;
    height: 50px;
    padding: 5px;
}
.logo4 img{
    width: 156px;
    height: 45px;
    padding: 5px;
    margin-top: 12px;
}
.logo5 img{
    width: 140px;
    height: 23px;
    padding: 5px;
    margin-top: 24px;
}

